{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="header-size mt-6 mb-5 text-center">
        <h1>{% trans "Change Password" %}</h1>
        <p class="text-center"><strong>Note:</strong> You are currently logged in as <strong>{{ user.username }}</strong></p>
        <p class="text-center text-muted">If you have forgotten your password and need to reset it. Please submit a request to our contact form and we will get back to you.</p>
        
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-update btn-outline-dark ps-2 pe-2 pt-2 pb-2" type="submit" name="action">{% trans "Change Password" %}</button>
        </form>
        <div class="password-container"></div>
    </div>
{% endblock %}
