* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #F1F1F1;
    min-height: 100%;
    width: 100%;
    position: absolute;
}

.git-link {
    color: white;
    font-size: 1.4rem;
}

.f-bg {
    background-color: #444544;
    color: white;
}

.header-size {
    margin-top: 6rem;
}

.index-slider {
    height: 35rem;
}

.pricing-cards {
    list-style: none;
}

.index-text {
    max-width: 80rem;
}

.contact-form {
    margin-top: 4rem;
    width: 55%;
    margin-bottom: 13rem;
}

.recipe-title {
    padding-top: 0.3rem;
    font-size: 1.3rem;
}

.recipe-subtitle {
    padding-top: 0.3rem;
}

.container-main {
    height: 12rem;
}

.user-main {
    margin-top: -1.3rem;
    margin-right: 1rem;
}

.navbar-main {
    margin-right: -9.1rem;
}

.main-title {
    font-size: 1.9rem;
    margin-left: 2rem;
}

.card-image {
    height: 260px;
    width: 100%;
}

.indx-img {
    height: 260px;
    width: 100%;
}

.card-image-myrcp {
    height: 280px;
    width: 100%;
}

.recipe-page-img {
    height: 350px;
    width: 620px;
}  

.btn-back {
    border: solid 1px #444544;
}

.btn-back:hover {
    background-color: whitesmoke;
}

.btn-edit:hover {
    background-color: rgb(0, 255, 0);
    text-decoration: none;
}

.btn-delete:hover {
    background-color: rgb(255, 0, 0);
    text-decoration: none;
}

.btn-update:hover {
    background-color: rgb(0, 132, 255);
    text-decoration: none;
    color: whitesmoke;
}

.underline {
    text-decoration: underline;
}

.create-recipe {
    margin-top: -3.4rem;
    margin-right: 3rem;
}

.btn > a {
    text-decoration: none;
    color: black;
}

.card-body > a {
    text-decoration: none;
    color: black;
}

.container-block {
    height: 8rem;
}

.recipe-container {
    width: 60%;
}

.email-hr {
    width: 80%;
}

.user-container {
    height: 25rem;
}

.email-container {
    height: 21rem;
}

.contact-container {
    height: 11rem;
}

.recipe-card-body {
    padding: 1.4rem;
}

.card-size {
    width: 80%;
}

.img-size {
    height: 35rem;
    width: 100%;
}

@media screen and (max-width: 400px) {

    /* Base Template */

    .user-main {
        display: none;
        opacity: 0%;
    }

    /* Full Screen Recipe page  */

    .recipe-page-img {
        height: 15rem;
        width: 17rem;
    }

    .d-flex {
        flex-wrap: wrap;
    }
    
    .card-methods {
        margin-top: 1.7rem;
    }

    .btn-back {
        margin-left: 1.7rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-body {
        font-size: 0.9rem;
    }

    .masthead-text {
        padding-top: 0.4rem;
    }

    /* All Recipes  */

    .card-image {
        height: 15rem;
        width: 15.5rem;
    }

    /* Index Page Card */

    .indx-img {
        width: 8;
    }

    /* Utilities  */

    .contact-container {
        height: 2rem;
    }

    /* Logout  */

    .logout {
        margin-top: 1.8rem;
    }

    /* Pricing Page */

    .price-card {
        margin-bottom: 1.2rem;
    }

    /* Create Recipe Page */

    .recipe-container {
        width: 85%;
    }

    /* My Recipes Page */

    .create-recipe {
        margin-top: 0.2rem;
        font-size: 0.4rem;
    }

    .edit-card {
        margin-right: 2rem;
    }
    
}

@media screen and (max-width: 600px) {

    /* Pricing Page */

    .price-card {
        margin-bottom: 1.2rem;
    }

    /* Utilities  */

    .contact-container {
        height: 0.1rem;
    }

    .user-container {
        height: 17.5rem;
    }

    .header-size {
        margin-top: 4rem;
    }

    /* Index Page  */

    .index-header {
        margin-top: 6rem;
    }

    .card-size {
        width: 90%;
    }

    /* All Recipes Page  */

    .card-image {
        height: 23em;
        width: 29rem;
    }

    /* User Account Page  */

    .d-flex {
        justify-content: space-between;
    }
    
    /* Logout Page  */

    .logout {
        margin-top: 4.1rem;
    }

    /* My Recipes Page  */

    .my-recipe-title {
        margin-top: 2rem;
    }

    .create-recipe {
        font-size: 0.9rem;
        padding-left: 0.8rem;
    }

    /* Delete Recipe Page  */

    .delete-recipe-title {
        margin-top: 6rem;
    }

    .delete-text {
        margin-top: 6rem;
    }
}

@media screen and (max-width: 700px) {

    /* Pricing Page */

    .price-card {
        margin-bottom: 1.2rem;
    }

    /* Utilities  */
    
    .contact-container {
        height: 4rem;
    }

    .header-size {
        margin-top: 9rem;
    }

    .user-container {
        margin-top: 11rem;
    }

    /* Index Page  */

    .index-header {
        margin-top: 6rem;
    }

    .card-size {
        width: 100%;
    }

    /* All Recipes Page  */

    .card-image {
        height: 23rem;
        width: 100%;
    }

    .card-size {
        width: 90%;
    }

    /* User Account Page  */

    .d-flex {
        justify-content: space-between;
    }

    /* Contact Us Page  */

    .contact-form {
        margin-top: 8rem;
    }

    .contact-container {
        height: 15.3rem;
    }

    /* Logout Page  */

    .logout {
        margin-top: 4.1rem;
    }

    /* My Recipes Page  */

    .edit-card {
        margin-left: 2rem;
        width: 100%;
    }

    /* Full Screen Recipe page  */

    .recipe-page-img {
        height: 19rem;
        width: 90%;
    }

    .d-flex {
        flex-wrap: wrap;
    }
    
    .card-methods {
        margin-top: 1.7rem;
    }

    .btn-back {
        margin-left: 1.7rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-body {
        font-size: 0.9rem;
    }

    .masthead-text {
        padding-top: 0.4rem;
    }
}

@media screen and (max-width: 1200px) {

    /* Full Screen Recipe Page */

    .card-size {
        width: 80%;
    }

    .card-methods {

        margin-left: 3rem;
    }

    /* All Recipes  */

    .card-size-recipe {
        width: 100%;
    }

    .card-image {
        height: 13rem;
        width: 14rem;
    }

    /* Utilities  */
    
    .contact-container {
        height: 19rem;
    }

    .header-size {
        margin-top: 6rem;
    }

    .user-container {
        margin-top: 12.5rem;
    }

    .contact-form {
        margin-bottom: 5rem;
    }

    .underline {
        margin-top: 3rem;
    }

    .price-card {
        margin-bottom: 8rem;
    }
}
