body {
    background-color: #F1F1F1;
}

.git-link {
    color: white;
    font-size: 1.4rem;
}

.f-bg {
    background-color: #444544;
    color: white;
}

.page-selected {
    background-color: aqua;
}

.header-size {
    margin-top: 6rem;
}

.index-slider {
    height: 35rem;
}

.pricing-cards {
    list-style: none;
}

.index-text {
    max-width: 80rem;
}

.contact-form {
    margin-top: 4rem;
    width: 55%;
    margin-bottom: 13rem;
}