* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.git-link {
    color: white;
    font-size: 1.4rem;
}

.f-bg {
    background-color: #444544;
    color: white;
}

.page-selected {
    background-color: aqua;
}

.header-size {
    margin-top: 6rem;
}

.index-slider {
    height: 35rem;
}

.pricing-cards {
    list-style: none;
}

.index-text {
    max-width: 80rem;
}

.contact-form {
    margin-top: 4rem;
    width: 55%;
    margin-bottom: 13rem;
}

.recipe-title {
    padding-top: 0.3rem;
    font-size: 1.3rem;
}

.recipe-subtitle {
    padding-top: 0.3rem;
}

.container-main {
    height: 12rem;
}

.user-main {
    margin-top: -1.3rem;
    margin-right: 1rem;
}

.navbar-main {
    margin-right: -9.1rem;
}

.main-title {
    font-size: 1.9rem;
    margin-left: 2rem;
}

.card-image {
    height: 230px;
    width: 100%;
}

.recipe-page-img {
    height: 350px;
    width: 400px;
}   