<!DOCTYPE html>
<html class="vh-100" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/style.css"> 
    <title>MyStockTake</title>
</head>
<body>
    <!-- Navigation code blocks -->
        {% if user.is_authenticated %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
            <a class="navbar-brand" href="#">code|MyStockTake</a>
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Stock Take</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>

        {% else %}

        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">code|MyStockTake</a>
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    {% endif %}
    <!-- General page code blocks  -->
        {% block content %}
        <!-- Based on the various pages of the application it depends what content is displayed here -->
        {% endblock %}
    <!-- Footer code blocks  -->
    {% if user.is_authenticated %}
    <footer class="fixed-bottom">
        <div class="f-bg text-center p-2">
            &copy  <script>document.write(new Date().getFullYear())</script> |  Kyle Chart |  <a target="_blank" aria-label="Opens up Kyle Charts github" href="https://www.github.com/mrekyle"><i class="fa-brands fa-github git-link"></i></a>
        </div>
    </footer>
    {% else %}
    <footer class=" fixed-bottom bg-primary text-white text-center text-lg-start">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-5 col-md-12 mb-4 mb-md-0">
              <p class="pt-3">
                The MyStockTake platform is designed to stream line your monthly kitchen tasks.
                By providing the tools to make the Stock Taking process, we aim to make this dreaded task an enjoyable one. 
              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase text-center">Links</h5>
              <div>
                <ul class="list-unstyled mb-0 text-center">
                    <li>
                    <a href="#!" class="text-white">Link 1</a>
                    </li>
                    <li>
                    <a href="#!" class="text-white">Link 2</a>
                    </li>
                    <li>
                    <a href="#!" class="text-white">Link 3</a>
                    </li>
                    <li>
                    <a href="#!" class="text-white">Link 4</a>
                    </li>
                </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase mb-0 text-center">Contact Us</h5>
            </div>
          </div>
        </div>
    {% endif %}
    <div class="f-bg text-center p-2">
        &copy  <script>document.write(new Date().getFullYear())</script> |  Kyle Chart |  <a target="_blank" aria-label="Opens up Kyle Charts github" href="https://www.github.com/mrekyle"><i class="fa-brands fa-github git-link"></i></a>
    </div>
    </footer>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.1/mdb.min.js"></script>
</body>
</html>