{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="header-size text-center">
    <h2 class="pt-4">Contact Us.</h2>
</div>
    <div class="container contact-form">
        <form id="contactForm" onsubmit="return sendMail(this);">
            <!-- Name input -->
            <div class="form-outline mb-2">
            <input name="name" type="text" id="form4Example1" class="form-control" required/>
            <label class="form-label" for="form4Example1">Name*</label>
            </div>
        
            <!-- Email input -->
            <div class="form-outline mb-2">
            <input name="contact_email" type="email" id="form4Example2" class="form-control" required/>
            <label class="form-label" for="form4Example2">Email address*</label>
            </div>
        
            <!-- Message input -->
            <div class="form-outline mb-2">
            <textarea name="message"  class="form-control" id="form4Example3" rows="4" required></textarea>
            <label class="form-label" for="form4Example3">Message*</label>
            </div>
        
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-1 pt-2">Send your message!</button>
            <p class="text-muted text-center pt-2">* means the information is required</p>
        </form>
        <div class="row">
            <p id="email-success" class="text-center text-success text-opacity-75"></p>
        </div>
    </div>
</div>
{% endblock %}