{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<div class="container header-size">
    <div class="row">
        <div class="text-center">
            <h3>Get Started</h3>
            <p class="ps-5 col-md-5 mt-4 mb-4">Get started by clicking on the <strong>New Recipe</strong> button below and fill out all the information on the next page 
                to create your very first Recipe.<br> If you wish to edit or delete them, click on the edit button. <br>Which will take you there.<br>
                To view all of your recipes you have created, click on the <strong>My Recipe's</strong> button.
            </p>
        </div>
        <div class="">

        </div>
    </div>
    <hr>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
            <div class="justify-content-center">
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
            </div>
      
          <!-- Collapsible wrapper -->
          <div
            class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample" >
            <!-- Left links -->
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">My Recipe's</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Create New Recipe</a>
              </li><li class="nav-item">
                <a class="nav-link" href="#">Edit A Recipe</a>
              </li>
            </ul>
            <!-- Left links -->
          </div>
          <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
      </nav>
      <hr>
    <h3>The Latest Recipe's</h3>
    <div class="container-fluid mb-6">

    </div>
</div>
{% else %}
<div class="container header-size">
    <div class="index-slider">
        IMAGE SLIDER
    </div>
    <div>
        <p>
            Image cover text
        </p>
    </div>
</div>
<hr>
<div>
    <div class="container mt-4 mb-5 index-text">
        <div class="row text-center">
            <div class="">
                <p>Are you looking for a way to create new menu's for that dinner party you've been planning? 
                    Where you can get a shopping list generated for everything you need? Worried about the allergies 
                    of friends and family?
                </p>
            </div>
            <div class="">
                <p>Here at myRecipe we have all the tools you could ever need to plan that perfect menu. We even allow you to see other 
                    recipe's created by our dedicated users. From Restaurant Professionals to the everyday home cook. 
                    We have everything you could ever need.
                </p>
            </div>
            <div class="">
                <p>
                    With new features currently being built and coming soon to our platform, we are also constantly updating our platform. 
                    Please take a look at what we currently offer and see if we are right for you!
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}