{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_authenticated %}
<h1 class="header-size">
    Hello World 
</h1>
{% else %}
<div class="container header-size">
    <div class="index-slider">
        IMAGE SLIDER
    </div>
    <div>
        <p>
            Image cover text
        </p>
    </div>
</div>
<hr>
<div>
    <div class="container mt-4 mb-5 index-text">
        <div class="row text-center">
            <div class="">
                <p>Are you looking for a way to create new menu's for that dinner party you've been planning? 
                    Where you can get a shopping list generated for everything you need? Worried about the allergies 
                    of friends and family?
                </p>
            </div>
            <div class="">
                <p>Here at myRecipe we have all the tools you could ever need to plan that perfect menu. We even allow you to see other 
                    recipe's created by our dedicated users. From Restaurant Professionals to the everyday home cook. 
                    We have everything you could ever need.
                </p>
            </div>
            <div class="">
                <p>
                    With new features currently being built and coming soon to our platform, we are also constantly updating our platform. 
                    Please take a look at what we currently offer and see if we are right for you!
                </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}