{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class="container-fluid header-size pt-5">
    <div class="row">
        <h1 class="ms-2 my-recipe-title">Your Recipes</h1>
        <!-- Quick start to create a recipe  -->
        <div class="create-recipe pe-5 text-end">
            <p>No recipe's appearing? Click <button type="button" data-mdb-ripple-color="dark" class="btn btn-update ps-2 pe-2 ms-1 me-1"> <a href="{% url 'recipe_creation' %}" aria-label="Opens the create a recipe page">Here</a> </button>to get started</p>
        </div>
        <div class="text-center mb-3 mt-3">
            <h4 class="mb-3">Welcome - <strong>{{ user.username }}</strong></h4>
            <p>Here you can find all of your own recipe's that you have created and uploaded to the platform.<br>
            If you wish to make an edit or delete a recipe please select that button from the cards and follow the next steps</p>
        </div>
    </div>
    <div class="container text-center ms-4 mt-5">
        <div class="row">
            <div class="col-12 mt-1">
                <div class="row">
                    {% for Recipes in recipes_list %}
                        {% if user.id == Recipes.author.id %}
                            <div class="col-md-4">
                                <!-- Users own created recipe cards  -->
                                <div class="card ms-5 edit-card mb-4 hover-shadow .shadow-6">
                                    <div class="card-body">
                                        <a href="{% url 'recipe_page' Recipes.pk %}" aria-label="Opens the recipe in a full screen view" class="card-link">
                                            <div class="image-container masthead-text masthead-image">
                                            {% if 'placeholder' in Recipes.featured_image.url %}
                                                <img class="card-img card-image-myrcp" src="https://res.cloudinary.com/dcjikvzf6/image/upload/v1692107043/cld-sample-4.jpg" alt="Recipe Image">
                                            {% else %}
                                                <img class="card-img card-image-myrcp" src="{{ Recipes.featured_image.url }}" alt="Users image of there recipe">
                                            {% endif %}
                                            </div>
                                            <div class="">
                                            <h4 class="card-title text-center pt-2">{{ Recipes.title }}</h4>
                                            </div>
                                        </a>
                                        <hr>
                                        <div class="card-text text-center flex-container">
                                            <button class="ps-2 pe-2 pb-2 pt-2 btn btn-edit" type="button"><a href="{% url 'recipe_edit' Recipes.pk %}" aria-label="Opens the edit recipe page">Edit</a></button>
                                            <button class='ps-2 pe-2 pb-2 pt-2 btn btn-delete' type="button"><a href="{% url 'delete_recipe' Recipes.pk %}" aria-label="Opens the delete recipe page">Delete</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            </div>
                            <div class="row mb-1">
                        {% endif %}
                    
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <div class="container">
            <hr>
        </div>
      <nav  aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
          </li>
          {% endif %} 
          {% if page_obj.has_next %}
          <li>
            <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}
    </div>
    <div class="container-main mb-4"></div>
</div>

{% else %}
    <div class="container header-size text-center">
        <h3>Unfortunately we do not know you! But we'd love to get to know you. So please join us on our adventure.</h3>
        <h3>Please click below to check out what we offer, to see if you want to join us.</h3>
        <a href="{% url 'pricing' %}" aria-label="Opens the Pricing page to allow the user to see what we offer"><button class="btn btn-rounded mb-5 btn-dark">What We Offer</button></a>
    </div>
{% endif %}
{% endblock %}