{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <div class="container header-size recipe-container">
        <div class="row">
            <h2 class="text-center pt-4">Create a new recipe to add to our ever growing database.</h2>
            <p class="text-center mb-4">Create a new recipe by filling out all the information required below. <br>
                If you have a photo of your dish you'd like to share, we'd love to have it. <br>
                (if not, our default will be provided for you.)</p>
        </div>

        <!-- Recipe Creation form. Using the forms.py to create the form  -->
        <div class="form-control text-center mb-4">
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                    <div>
                        <button type="submit" class="btn btn-primary mb-4">Create your recipe</button>
                    </div>
            </form>
        </div>
        </div>
    </div> 
    
    <!-- Setting the forms author as the user that is currently logged into the application  -->
    <script>
        let userId = '{{ user.id }}';
        document.getElementById('author_id').value = userId
    </script>
    
{% else %}
    <div class="container header-size text-center">
        <h3>Unfortunately we do not know you! But we'd love to get to know you. So please join us on our adventure.</h3>
        <h3>Please click below to check out what we offer, to see if you want to join us.</h3>
        <a href="{% url 'pricing' %}" aria-label="Opens the Pricing page to allow the user to see what we offer"><button class="btn btn-rounded mb-5 btn-dark">What We Offer</button></a>
    </div>
{% endif %}
{% endblock %} 