{% extends "base.html" %}
{% block content%}

{% if user.is_authenticated %}
<div class="container-fluid text-center header-size">
  <div class="row d-flex justify-content-center">
        <div style="width: 80%;" class="card masthead mt-3 mb-3">
          <h1 class="card-title text-center pt-2">{{ recipe.title }}</h1>
          <div class="image-container masthead-image">
            {% if 'placeholder' in recipes.featured_image.url %}
              <img class="card-img recipe-page-img" src="https://res.cloudinary.com/dcjikvzf6/image/upload/v1692107043/cld-sample-4.jpg" alt="Recipe Image">
            {% else %}
              <img class="card-img recipe-page-img" src="{{ recipe.featured_image.url }}" alt="Users image of there recipe">
            {% endif %}
            <div class="masthead-text">
              <p>{{ recipe.author }} | {{ recipe.created_on }}</p>
            </div>
          </div>
        </div>
          <div class="col-md-4 ms-5 ps-4">
            {{ recipe.ingredients_list | safe }}
          </div>
          <div class="col-md-6">
            <aside>
              {{ recipe.featured_image | safe }}
              <i class="fa-regular fa-thumbs-up fa-sm">{{ recipe.likes | safe }}</i>
            </aside>
          </div>
          <div class="row">
            <div class="card mb-8">
            {{ recipe.methods_list | safe }}
            </div>
          </div>
      </div>
  </div>
</div>
{% else %}
  <div class="container header-size text-center">
      <h3>Unfortunately we do not know you! But we'd love to get to know you. So please join us on our adventure.</h3>
      <h3>Please click below to check out what we offer, to see if you want to join us.</h3>
      <a href="{% url 'pricing' %}" aria-label="Opens the Pricing page to allow the user to see what we offer"><button class="btn btn-rounded mb-5 btn-dark">What We Offer</button></a>
  </div>
{% endif %}

{% endblock %}