{% extends "base.html" %}
{% block content%}

{% if user.is_authenticated %}
<div class="container-fluid header-size ms-4">
  <div class="page-title">
    <h1 class="pt-3">Our Recipes</h1>
  </div>
    <div class="row mt-4 mb-6">
        <div class="col-12 mt-3 left">
            <div class="row d-flex justify-content-center">
              <!-- Recipe card - Displaying multiple cards paginated -->
                {% for Recipes in recipes_list %}
                    <div class="col-md-3">
                      <div class="card mb-4">
                            <div class="card-body">
                                  <a href="{% url 'recipe_page' Recipes.pk %}" aria-label="Opens the recipe in a full screen view" class="card-link">
                                    <div class="image-container masthead-text masthead-image">
                                      {% if 'placeholder' in Recipes.featured_image.url %}
                                        <img class="card-img card-image" src="https://res.cloudinary.com/dcjikvzf6/image/upload/v1692107043/cld-sample-4.jpg" alt="Recipe Image">
                                      {% else %}
                                        <img class="card-img card-image" src="{{ Recipes.featured_image.url }}" alt="Users image of there recipe">
                                      {% endif %}
                                    </div>
                                    <div class="">
                                      <h4 class="card-title text-center pt-1">{{ Recipes.title }}</h4>
                                    </div>
                                  </a>
                                     <div class="text-muted text-center recipe-subtitle">
                                        {{ Recipes.recipe_desc | safe }}
                                    </div>
                                    <div class="">
                                      <hr>
                                        <p class="card-text text-muted">Author: {{ Recipes.author.first_name }} {{ Recipes.author.last_name}} |  {{ Recipes.created_on }}</p>
                                        {% with Comments.all.count as comments_count %}
                                          <p><i class="fa-regular fa-comments fa-sm">{{ comments_count }}</i> | <i class="fa-regular fa-thumbs-up fa-sm">{{ Recipes.likes }} FIX BUG</i></p>
                                        {% endwith %}
                                    </div>
                              </div>
                      </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
          <div class="row d-flex justify-content-center">
                {% endif %}
                
                {% endfor %} 
            </div>
        </div>
    </div>
    {% if is_paginated %}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li>
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
      </li>
      {% endif %} 
      {% if page_obj.has_next %}
      <li>
        <a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}
</div>
{% else %}
  <!-- If the user is'nt authenticated as part of the application. Render this  -->
  <div class="container header-size text-center">
      <h3>Unfortunately we do not know you! But we'd love to get to know you. So please join us on our adventure.</h3>
      <h3>Please click below to check out what we offer, to see if you want to join us.</h3>
      <a href="{% url 'pricing' %}" aria-label="Opens the Pricing page to allow the user to see what we offer"><button class="btn btn-rounded mb-5 btn-dark">What We Offer</button></a>
  </div>
{% endif %}

{% endblock %}