{% extends "base.html" %}
{% block content%}

{% if user.is_authenticated %}
<div class="container-fluid text-center header-size">
  <div class="row d-flex justify-content-center">
    <!-- Recipe card -->
        <div style="width: 80%;" class="card masthead mt-3 mb-3">
          <h1 class="card-title text-center pt-2">{{ recipes.title }}</h1>
          <div class="image-container masthead-image">
            {% if 'placeholder' in recipes.featured_image.url %}
              <img class="card-img recipe-page-img" src="https://res.cloudinary.com/dcjikvzf6/image/upload/v1692107043/cld-sample-4.jpg" alt="Recipe Image">
            {% else %}
              <img class="card-img recipe-page-img" src="{{ recipe.featured_image.url }}" alt="Users image of there recipe">
            {% endif %}
            <div class="masthead-text text-muted">
              <p>{{ recipes.author }} | {{ recipes.created_on }}</p>
            </div>
          </div>
        </div>
        <!-- Recipe story card  -->
          <div class=" card-size mb-4">
            <div class="card recipe-card-body">
              <div class="card-title">
                <h3 class="card-title">The story behind the dish:</h3>
                  <hr>
                  <div class="card-body">
                    {{ recipes.recipe_story | safe }}
                  </div>
              </div>
            </div>
          </div>
          <!-- Recipe ingredients card -->
        <div class="col-md-4 col-lg-8 d-flex justify-content-evenly">
          <div class="card card-size recipe-card-body">
            <h3 class="card-title">Ingredients: </h3>
              <hr>
            <div class="card-body">
              {{ recipes.ingredients_list | safe }}
            </div>
          </div>
          <!-- Recipe Methods card -->
          <div class="card card-size recipe-card-body ms-4 card-methods">
            <h3 class="card-title">Recipe Method:</h3>
              <hr>
            <div class="card-body">
              {{ recipes.methods_list | safe }}
            </div>
          </div>
        </div>
          </div>
      </div>
  </div>
</div>
<div class="container mb-6 d-flex justify-content-start">
  <div class="row mt-4">
    <button style="width: 6rem; font-size: 1.2rem;" class="btn btn-back ps-2 pe-2 pt-2 pb-2"><a href="{% url 'all_recipes' %}" aria-label="Goes back to the previous page"><i class="fa-solid fa-arrow-left"></i> BACK</a></button>
  </div>
</div>
{% else %}
  <div class="container header-size text-center">
      <h3>Unfortunately we do not know you! But we'd love to get to know you. So please join us on our adventure.</h3>
      <h3>Please click below to check out what we offer, to see if you want to join us.</h3>
      <a href="{% url 'pricing' %}" aria-label="Opens the Pricing page to allow the user to see what we offer"><button class="btn btn-rounded mb-5 btn-dark">What We Offer</button></a>
  </div>
{% endif %}

{% endblock %}