{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<div class="container-fluid header-size">
    <div class="row delete-recipe-title">
        <h3>Delete your Recipe.</h3>
        <div class="delete-text header-size d-flex align-items-center justify-content-center text-center">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <p>Are you sure you wish to delete your recipe:<br></p>
                        <strong><h3>{{ recipes.title }}?</strong></h3><br>
                    <p>This action cant be undone and is permanent.</p>
                </div>
                <hr>
                <div class="mb-5">
                    <button type="submit" class="ps-2 pe-2 pb-2 pt-2 btn btn-delete">Confirm Deletion</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="user-container mb-4"></div>
    
{% else %}
    <div class="container header-size text-center">
        <h3>Unfortunately we do not know you! But we'd love to get to know you. So please join us on our adventure.</h3>
        <h3>Please click below to check out what we offer, to see if you want to join us.</h3>
        <a href="{% url 'pricing' %}" aria-label="Opens the Pricing page to allow the user to see what we offer"><button class="btn btn-rounded mb-5 btn-dark">What We Offer</button></a>
    </div>
{% endif %}
{% endblock %}