{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<div class="container header-size text-center">
    <div class="row">
        <h2>Welcome {{ user.username }}</h2>
        <p>Here you can edit some information for your account. Such as resetting your password.</p>
        <ul style="list-style: none;">
            <li><a href="{% url 'account_change_password' %}">Change your Password</a></li>
        </ul>
    </div>
</div>
{% else %}
<div class="container header-size text-center">
    <h3>Unfortunately we do not know you! But we'd love to get to know you. So please join us on our adventure.</h3>
    <h3>Please click below to check out what we offer, to see if you want to join us.</h3>
    <a href="{% url 'pricing' %}" aria-label="Opens the Pricing page to allow the user to see what we offer"><button class="btn btn-rounded mb-5 btn-dark">What We Offer</button></a>
</div>
{% endif %}

{% endblock %}